[submodule "ctf473831530_2018_web_virink"]
	path = ctf473831530_2018_web_virink
	url = https://github.com/CTFTraining/ctf473831530_2018_web_virink.git
[submodule "lctf_2018_bestphp_s_revenge"]
	path = lctf_2018_bestphp_s_revenge
	url = https://github.com/CTFTraining/lctf_2018_bestphp_s_revenge.git
[submodule "sctf_2018_babysyc"]
	path = sctf_2018_babysyc
	url = https://github.com/CTFTraining/sctf_2018_babysyc.git
[submodule "westerns_2018_shrine"]
	path = westerns_2018_shrine
	url = https://github.com/CTFTraining/westerns_2018_shrine.git
[submodule "huwangbei_2018_easy_tornado"]
	path = huwangbei_2018_easy_tornado
	url = https://github.com/CTFTraining/huwangbei_2018_easy_tornado.git
[submodule "huwangbei_2018_easy_laravel"]
	path = huwangbei_2018_easy_laravel
	url = https://github.com/CTFTraining/huwangbei_2018_easy_laravel.git
[submodule "hctf_2018_warmup"]
	path = hctf_2018_warmup
	url = https://github.com/CTFTraining/hctf_2018_warmup.git
[submodule "pwnhub_2017_open_weekday"]
	path = pwnhub_2017_open_weekday
	url = https://github.com/CTFTraining/pwnhub_2017_open_weekday.git
[submodule "0ctf_2016_unserialize"]
	path = 0ctf_2016_unserialize
	url = https://github.com/CTFTraining/0ctf_2016_unserialize.git
[submodule "34c3ctf_2017_urlstorage"]
	path = 34c3ctf_2017_urlstorage
	url = https://github.com/CTFTraining/34c3ctf_2017_urlstorage.git
[submodule "hctf_2017_deserted_place"]
	path = hctf_2017_deserted_place
	url = https://github.com/CTFTraining/hctf_2017_deserted_place.git
[submodule "xdctf_2015_filemanager"]
	path = xdctf_2015_filemanager
	url = https://github.com/CTFTraining/xdctf_2015_filemanager.git
[submodule "hitcon_2017_ssrfme"]
	path = hitcon_2017_ssrfme
	url = https://github.com/CTFTraining/hitcon_2017_ssrfme.git
[submodule "wdb_2018_unfinish"]
	path = wdb_2018_unfinish
	url = https://github.com/CTFTraining/wdb_2018_unfinish.git
[submodule "wdb_2018_fakebook"]
	path = wdb_2018_fakebook
	url = https://github.com/CTFTraining/wdb_2018_fakebook.git
[submodule "wdb_2018_comment"]
	path = wdb_2018_comment
	url = https://github.com/CTFTraining/wdb_2018_comment.git
[submodule "hitcon_2016_leaking"]
	path = hitcon_2016_leaking
	url = https://github.com/CTFTraining/hitcon_2016_leaking.git
[submodule "rwctf_2018_bookhub"]
	path = rwctf_2018_bookhub
	url = https://github.com/CTFTraining/rwctf_2018_bookhub.git
[submodule "insomniteaser_2019_l33t_hoster"]
	path = insomniteaser_2019_l33t_hoster
	url = https://github.com/CTFTraining/insomniteaser_2019_l33t_hoster.git
[submodule "meepwn_2018_pycalx"]
	path = meepwn_2018_pycalx
	url = https://github.com/CTFTraining/meepwn_2018_pycalx.git
[submodule "insomniteaser_2019_phuck2"]
	path = insomniteaser_2019_phuck2
	url = https://github.com/CTFTraining/insomniteaser_2019_phuck2.git
[submodule "ddctf_2019_homebrew_event_loop"]
	path = ddctf_2019_homebrew_event_loop
	url = https://github.com/CTFTraining/ddctf_2019_homebrew_event_loop.git
[submodule "starctf_2019_996game"]
	path = starctf_2019_996game
	url = https://github.com/CTFTraining/starctf_2019_996game.git
[submodule "starctf_2019_echohub"]
	path = starctf_2019_echohub
	url = https://github.com/CTFTraining/starctf_2019_echohub.git
[submodule "rctf_2019_nextphp"]
	path = rctf_2019_nextphp
	url = https://github.com/CTFTraining/rctf_2019_nextphp.git
[submodule "rctf_2019_calcalcalc"]
	path = rctf_2019_calcalcalc
	url = https://github.com/CTFTraining/rctf_2019_calcalcalc.git
[submodule "qwb_2019_upload"]
	path = qwb_2019_upload
	url = https://github.com/CTFTraining/qwb_2019_upload.git
[submodule "qwb_2019_supersqli"]
	path = qwb_2019_supersqli
	url = https://github.com/CTFTraining/qwb_2019_supersqli
[submodule "asis_2019_unicorn_shop"]
	path = asis_2019_unicorn_shop
	url = https://github.com/CTFTraining/asis_2019_unicorn_shop.git
[submodule "qwb_2019_smarthacker"]
	path = qwb_2019_smarthacker
	url = https://github.com/CTFTraining/qwb_2019_smarthacker.git
[submodule "qwb_2019_crypto_copperstudy"]
	path = qwb_2019_crypto_copperstudy
	url = https://github.com/CTFTraining/qwb_2019_crypto_copperstudy.git
[submodule "ciscn_2019_web_northern_china_day1_web2"]
	path = ciscn_2019_web_northern_china_day1_web2
	url = https://github.com/CTFTraining/ciscn_2019_web_northern_china_day1_web2.git
[submodule "ciscn_2019_web_northern_china_day2_web1"]
	path = ciscn_2019_web_northern_china_day2_web1
	url = https://github.com/CTFTraining/ciscn_2019_web_northern_china_day2_web1.git
[submodule "ciscn_2019_web_northern_china_day1_web1"]
	path = ciscn_2019_web_northern_china_day1_web1
	url = https://github.com/CTFTraining/ciscn_2019_web_northern_china_day1_web1.git
[submodule "buuctf_2018_online_tool"]
	path = buuctf_2018_online_tool
	url = https://github.com/CTFTraining/buuctf_2018_online_tool.git
[submodule "fbctf_2019_products_manager"]
	path = fbctf_2019_products_manager
	url = git@github.com:CTFTraining/fbctf_2019_products_manager.git
